body {
    background-color: #5b7d87;
    color: #2e323c
}

h1{
    color: #91b3bc;
    background-color: #2e323c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 450%;
    text-align: center;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 400%;
    text-align: center;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    text-align: center;
    background-color: #2e323c;
}

h4{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

h5{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: #91b3bc;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: justify;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
    text-align: left;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

cite{
    font-size: 150%;
    color: #2e323c;
}


.menu-icon{
    height: 140%;
    width: 2.3%;
    margin: 3%;
    position: absolute;
    top: 15%;
    display: inline-block;
    vertical-align: middle;
    z-index: 20;
}

.nameStyle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 400%;
    text-align: center;
    text-decoration: underline;
}

.smallFont{
    font-size: 80%;
    text-align: center;
}

.smallFontLeft{
    font-size: 80%;
    text-align: left;
    margin: 0;
}

a {
    color: #91b3bc;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
}
a:visited{color: #91b3bc;}
a:hover, a:active{color: #FFFDD0;}

.outlierLink{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55%;
    text-align: left;
    text-decoration: underline;
}



/* timeline.html with ideas from https://codepen.io/alvarotrigo/pen/ExwYyNW */

.timeline{
    width:800px;
	background-color:#2e323c;
	color:#fff;
	padding:30px 20px;
}

.timeline ul{
	list-style-type:none;
	border-left:2px solid #5b7d87;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color:#5b7d87;
	border-radius:25px;
	padding:2px 5px;
	/* font-size:15px; */
	text-align:center;
}
.timeline ul li .content h3{
	color:#5b7d87;
	/* font-size:17px; */
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	/* font-size:15px; */
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#5b7d87;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#3d424f;
}
.timeline ul li:hover:before{
	background-color:white;
	box-shadow:0px 0px 10px 2px white;
}

/*-----------------------------------------------------------*/